# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.csharpcore.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\projects\kata\gilded-rose-kata\src\.idea\.idea.csharpcore.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
